
.box {
    width: calc(100% / 10);
    height: calc(100% / 10);
    border: 2px solid white;
    gap: 2;

    display: flex;
    flex-wrap: wrap;
}
body {
    background-color: black;
}
main {
    margin: 0 auto;
}